

.card{
    position: relative;
    background-color: lightseagreen;
   

    width: 14rem;
    height: auto;

    border-radius: 1rem;
    padding: 1rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card .img{
    background-color: lightcoral;
    width: 100%;
    height: 15rem;

    border-radius: 1rem; 
}

.card .title{
    max-width: 12rem;
    padding: 0.1rem;
    position: absolute;
}

.card .title h3{
    background-color: lightslategray;
    padding: 0.1rem;
    border-radius: 1rem; 
    
    text-align: center;
}
