body{
    background: rgb(220,246,246);
    background: linear-gradient(45deg, rgba(220,246,246,1) 0%, rgba(78,176,249,1) 33%, rgba(23,228,225,1) 62%, rgba(86,244,168,1) 85%) no-repeat fixed;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
